{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <h1>GRECO</h1>
        <div>
            <ul>
                <li style="display: inline;"><a href="{{ path('listar_loc') }}">Inventario</a></li>
                <li style="display: inline;"><a href="{{ path('seleccionar_pres') }}">Préstamos</a></li>
                <li style="display: inline;"><a href="{{ path('listar_locNoPadre') }}">Localizaciones</a></li>
                <li style="display: inline;"><a href="{{ path('listar_per') }}">Personas</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
