{% extends 'layout.html.twig' %}

{% block content %}
    <table style="border: 0.1em solid black;">
        <tr>
            <td style="border: 0.1em solid black;">Código</td>
            <td style="border: 0.1em solid black;">Nombre</td>
            <td style="border: 0.1em solid black;">Descripción</td>
        </tr>
        {% for loc in localizaciones %}
            <tr>
                <td style="border: 0.1em solid black;">{{ loc.codigo }}</td>
                <td style="border: 0.1em solid black;">{{ loc.nombre }}</td>
                <td style="border: 0.1em solid black;">{{ loc.descripcion }}</td>
                <td style="border: 0.1em solid black;"><a href="{{ path(''), {'id': loc.id}) }}">Ver materiales</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
