{% extends 'layout.html.twig' %}

{% block content %}
    <nav><div>
            <ul>
                <li><a href="{{ path('listar_pres') }}">Préstamos actuales</a></li>
                <li><a href="{{ path('listar_presMateriales') }}">Historial de préstamos</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
